In [1]:
'''write a python program to create a lambda function that adds 15 to a given number passed in as an argument'''
flag = lambda a: a+15
flag(2)

17

In [2]:
'''write a python program to create a lambda function that multiplies argument x with argument y and prints the result'''
flag = lambda x,y: x*y
flag(2,3)

6

In [4]:
'''write a python program to create a lambda function to create a function that takes one agrument, 
and that argument will be multiplied with an unknown given number'''
def compute(n):
    return lambda x: x*n
result = compute(2)
a = result(15)
a

30

In [7]:
'''write a python program to find if a given string strats with a given character using lambda'''
X = lambda x,c: True if x[0] == c else False
X('Water','W')

True

In [11]:
'''given string is a number or not '''
x = lambda num: num.isdigit()
x('4')

True

# Map Function

In [12]:
'''triple all the number in the list'''
nums = [1,2,3,4,5,6]
result = list(map(lambda x: x+x+x, nums))
result

[3, 6, 9, 12, 15, 18]

In [14]:
'''add three given list'''
num1 = [1,2,3,4]
num2 = [2,3,4,5]
num3 = [3,4,5,6]
result = list(map(lambda x,y,z: x+y+z, num1,num2,num3))
result

[6, 9, 12, 15]

In [18]:
'''listfy the list'''
l=['apple','banana']
result = list(map(lambda x: [i for i in x],l))
result

[['a', 'p', 'p', 'l', 'e'], ['b', 'a', 'n', 'a', 'n', 'a']]

In [21]:
'''addition and subtraction of list'''
l=[1,2,3,4,5]
l2=[2,3,4,5,6]
def add_sub(l,l2):
    return l+l2, l-l2
result = list(map(add_sub,l, l2))
result

[(3, -1), (5, -1), (7, -1), (9, -1), (11, -1)]

In [34]:
'''square the element of list'''
l = [1,2,3,4]
result = list(map(lambda x: x**2,l))
result

[1, 4, 9, 16]

# Filter function

In [35]:
'''Odd numbers'''
l = [x for x in range(11)]
result = list(filter(lambda x: x%2!=0, l))
result

[1, 3, 5, 7, 9]

In [37]:
'''Uppercase in string'''
a = "HappY"
result = list(filter(lambda char: char.isupper(),a))
result

['H', 'Y']

In [41]:
'''list which start with vowels '''
a = ['Elite',"Ayudhya","happy","sad"]
result = list(filter(lambda x: x[0].lower() in ['a','e','i','o','u'],a))
result

['Elite', 'Ayudhya']

In [42]:
'''prime numbers'''
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n%2==0 or n%3==0:
        return False
    i = 5
    while i*i <=n:
        if n%i == 0 or n%(i+2) ==0:
            return False
        i += 6
    return True
num = [x for x in range(11)]
result = list(filter(is_prime, num))
result

[2, 3, 5, 7]